<section class="header" id="header">
  {{ if .Site.Params.enable_logo }}
  <div class="logo">
    <img
      class="img-fluid"
      src="{{ .Site.Params.logo_light | relURL }}"
      alt="{{ .Site.Title }}"
    />
  </div>
  {{ end }} 
  {{ with .Site.Data.content.hero }}
  <div class="hero-video">
    <video autoplay muted loop playsinline>
      <source src="{{ .bg_video | relURL }}" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
  <div class="container">
    <div class="row content">
      <div
        class="col-lg-8 col-lg-offset-2 col-sm-8 col-sm-offset-2 head-container"
      >
        <div class="head-holder">
          <h1 class="introduction">{{ .title | markdownify | emojify }}</h1>
          <div class="static-text">
            <strong>{{ index .occupations 0 }}</strong> <!-- Display the first occupation statically -->
          </div>
          {{ if .button.enable }} 
          {{ with .button }}
          <a class="hireMe button" href="{{ .link }}">{{ .label }}</a>
          {{ end }} 
          {{ end }}
        </div>
      </div>
    </div>
  </div>
  {{ end }}
</section>